<div class="rpg_tabcontent">
  <div fxLayout="row wrap" fxLayout.xs="row wrap">
    <div class="rpg_pty_label">
      <label class="rpg_pty_label_text">Model Fields</label>
    </div>
    <button class="rpg_action_icon_button" (click)="createModelField()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="rpg_text_field">
      <mat-label>filter</mat-label>
      <input matInput mat-input value="{{filter}}" (change)='setFilter($event)' placeholder='filter' />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div class="rpg_listcontent">
      <div fxLayout="column" *ngFor="let modelField of filteredModelFields">
        <div fxLayout="row">
          <button class="rpg_action_icon_button" (click)="deleteModelField(modelField)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="rpg_action_icon_button" (click)="selectModelField(modelField)">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <mat-form-field class="rpg_text_field">
            <input matInput mat-input value="{{modelField.name}}" (change)='changeName(modelField, $event)'
              maxlength='100' />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="selectedModelField">
      <app-npc-model-field-editor [modelFieldId]="selectedModelField.id"></app-npc-model-field-editor>
    </div>
  </div>
</div>